.add-button {
  background: none;
  cursor: pointer;
  max-width: 150px;
  max-height: 50px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  padding: 14px 64px;
  margin-left: auto;
}

.add-button:hover {
  opacity: 0.6;
}

.add-button__icon {
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .add-button {
    padding: 14px 6%;
  }
}

@media screen and (max-width: 544px) {
  .add-button {
    margin-left: 0;
    margin-top: 36px;
    padding: 14px 64px;
  }
}
